    ul{
        padding: 0;
        list-style: none;
        background: #f2f2f2;
    }
    ul li{
        display: inline-block;
        position: relative;
        line-height: 21px;
        text-align: left;
    }
    ul li a{
        display: block;
        padding: 8px 25px;
        color: #333;
        text-decoration: none;
    }
    ul li a:hover{
        color: #fff;
        background: #939393;
    }
    ul li ul.dropdown{
        min-width: 100%; /* Set width of the dropdown */
        background: #f2f2f2;
        display: none;
        position: absolute;
        z-index: 999;
        left: 0;
    }
    ul li:hover ul.dropdown{
        display: block;	/* Display the dropdown */
    }
    ul li ul.dropdown li{
        display: block;
    }

ul.menu

{
	display:none;
}

header .mobilcss
{
	display:none;
}

input#menu-btn
{
	display:none;
}
.menu-btn
{
	display:none;
}

#underribbon
{
  background-image: url("https://www.ljusstadenspizzeria.se/uploads/1aEsWcFj/Klasserbakgrund.png");
  background-width: 100%;
  background-height: 100%;
  background-repeat: no-repeat;
  color: white;
  padding: 4px 100px 5px 100px;
}



#Klass1 {
  background-image: url("https://www.ljusstadenspizzeria.se/uploads/1aEsWcFj/Klasserbakgrund.png");
  background-width: 100%;
  background-height: 100%;
  background-repeat: no-repeat;
  color: white;
  padding: 4px 100px 5px 100px;
}
#Klass2 {
  background-image: url("https://www.ljusstadenspizzeria.se/uploads/1aEsWcFj/Klasserbakgrund.png");
  background-width: 100%;
  background-height: 100%;
  background-repeat: no-repeat;
  color: white;
  padding: 4px 100px 5px 100px;
}
#Klass3 {
  background-image: url("https://www.ljusstadenspizzeria.se/uploads/1aEsWcFj/Klasserbakgrund.png");
  background-width: 100%;
  background-height: 100%;
  background-repeat: no-repeat;
  color: white;
  padding: 4px 100px 5px 100px;
}

#Special {
  background-image: url("https://www.ljusstadenspizzeria.se/uploads/1aEsWcFj/Klasserbakgrund.png");
  background-repeat: no-repeat;
  color: white;
  padding-top: 10px;
  padding-left: 85px;
  padding-right: 65px;
  padding-bottom: 80px;
}

#Absoluta {
  background-image: url("https://www.ljusstadenspizzeria.se/uploads/1aEsWcFj/Klasserbakgrund.png");
  background-width: 100%;
  background-height: 100%;
  background-repeat: no-repeat;
  color: white;
  padding: 20px 120px 40px 75px;
}

#Rullar1 {
  background-image: url("https://www.ljusstadenspizzeria.se/uploads/1aEsWcFj/Klasserbakgrund.png");
  background-width: 100%;
  background-height: 100%;
  background-repeat: no-repeat;
  color: white;
  padding: 4px 120px 4px 120px;
}


#Amerikanska {
  background-image: url("https://www.ljusstadenspizzeria.se/uploads/1aEsWcFj/Klasserbakgrund.png");
  background-repeat: no-repeat;
  color: white;
  padding-top: 18px;
  padding-left: 65px;
  padding-right: 55px;
  padding-bottom: 60px;
  font-size:25px;
}

#Falafel {
  background-image: url("https://www.ljusstadenspizzeria.se/uploads/1aEsWcFj/Klasserbakgrund.png");
  background-repeat: no-repeat;
  color: white;
  padding-top: 18px;
  padding-left: 65px;
  padding-right: 55px;
  padding-bottom: 60px;
  font-size:25px;
}

#Hamburgare {
  background-image: url("https://www.ljusstadenspizzeria.se/uploads/1aEsWcFj/Klasserbakgrund.png");
  background-repeat: no-repeat;
  color: white;
  padding-top: 18px;
  padding-left: 65px;
  padding-right: 55px;
  padding-bottom: 60px;
  font-size:25px;
}

#Sallader {
  background-image: url("https://www.ljusstadenspizzeria.se/uploads/1aEsWcFj/Klasserbakgrund.png");
  background-repeat: no-repeat;
  color: white;
  padding-top: 18px;
  padding-left: 65px;
  padding-right: 55px;
  padding-bottom: 60px;
  font-size:25px;
}



