
body {
  margin: 0;
  font-family: 'Droid Serif', serif;
  background-color: #f4f4f4;
  display: block;
}

a {
  color: #000;
}

:target {
  animation: highlight 1s ease;  
  transform: translateX(3px);     
}
@keyframes highlight {
  0% { border-left-color: red; }
  100% { border-left-color: white; }
}

#menyn {
  width: 100%;
  height: 2000px;
  float: left;
}

#sidmeny1 {
  width: 350px;
  height: 890px;
  margin-top: -301px;
  margin-left: 0px;
  float: left;
}
#sidmeny2 {
  width: 350px;
  height: 760px;
  margin-top: -566px;
  margin-left: 0px;
  margin-right: 0px;
  float: left;
}
#sidmeny3 {
  width: 350px;
  height: 454px;
  margin-top: -333px;
  margin-left: 0px;
  margin-right: 0px;
  float: left;
}
#sidmeny4 {
  width: 350px;
  height: 422px;
  margin-left: 0px;
  margin-right: 0px;
  float: left;
}
#sidmeny5 {
  width: 350px;
  height: 489px;
  margin-top: -31px;
  margin-left: 0px;
  margin-right: 0px;
  float: left;
}
#sidmeny6 {
  width: 350px;
  height: 357px;
  margin-top: -2px;
  margin-left: 0px;
  margin-right: 0px;
  float: left;
}

#container-klass {
    margin-bottom: -156px;
    width: 315px;
    height: auto;
    margin-top: 185px;
    margin-left: 0px;
    margin-right: 0px;
    border: 0px;
    border-style: none;
    border-color: none;
    float: left;
}

#container-klass li {
    margin-left: 5px;
    background-color: #f4f4f4;
    margin-right: 5px;
}


#underribbon
{
    background-image: url(https://www.ljusstadenspizzeria.se/uploads/1aEsWcFj/Klasserbakgrund.png);
    background-repeat: no-repeat;
    color: white;
    background-position: center;
    padding-top: 12px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 15px;
    font-style: italic;
    font-size: x-large;
}



#Klass1 {
    background-image: url(https://www.ljusstadenspizzeria.se/uploads/1aEsWcFj/Klasserbakgrund.png);
    background-repeat: no-repeat;
    color: white;
    padding-top: 18px;
    padding-left: 94px;
    padding-right: 155px;
    padding-bottom: 70px;
    float: left;
}
#Klass2 {
    background-image: url(https://www.ljusstadenspizzeria.se/uploads/1aEsWcFj/Klasserbakgrund.png);
    background-repeat: no-repeat;
    color: white;
    padding-top: 18px;
    padding-left: 94px;
    padding-right: 155px;
    padding-bottom: 60px;
    float: left;
    margin-top:128px;
}
#Klass3 {
    background-image: url(https://www.ljusstadenspizzeria.se/uploads/1aEsWcFj/Klasserbakgrund.png);
    background-repeat: no-repeat;
    color: white;
    padding-top: 18px;
    padding-left: 94px;
    padding-right: 155px;
    padding-bottom: 60px;
    float: left;

}

#Special {
    background-image: url(https://www.ljusstadenspizzeria.se/uploads/1aEsWcFj/Klasserbakgrund.png);
    background-repeat: no-repeat;
    color: white;
    padding-top: 18px;
    padding-left: 94px;
    padding-right: 155px;
    padding-bottom: 60px;
    float: left;
}

#Absoluta {
    background-image: url(https://www.ljusstadenspizzeria.se/uploads/1aEsWcFj/Klasserbakgrund.png);
    background-repeat: no-repeat;
    color: white;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 102px;
    padding-bottom: 24px;
    float: left;
}

#Rullar1 {
    background-image: url(https://www.ljusstadenspizzeria.se/uploads/1aEsWcFj/Klasserbakgrund.png);
    background-repeat: no-repeat;
    color: white;
    padding-top: 20px;
    padding-left: 64px;
    padding-right: 102px;
    padding-bottom: 24px;
    float: left;
}


#Amerikanska {
    background-image: url(https://www.ljusstadenspizzeria.se/uploads/1aEsWcFj/Klasserbakgrund.png);
    background-repeat: no-repeat;
    color: white;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 102px;
    padding-bottom: 24px;
    float: left;
}

#Falafel {
  background-image: url("https://www.ljusstadenspizzeria.se/uploads/1aEsWcFj/Klasserbakgrund.png");
  background-repeat: no-repeat;
  color: white;
  padding-top: 18px;
  padding-left: 132px;
  padding-right: 142px;
  padding-bottom: 60px;
  font-size:20px;
}

#Hamburgare {
    background-image: url(https://www.ljusstadenspizzeria.se/uploads/1aEsWcFj/Klasserbakgrund.png);
    background-repeat: no-repeat;
    color: white;
    padding-top: 18px;
    padding-left: 94px;
    padding-right: 155px;
    padding-bottom: 60px;
    float: left;
}

#Sallader {
    background-image: url(https://www.ljusstadenspizzeria.se/uploads/1aEsWcFj/Klasserbakgrund.png);
    background-repeat: no-repeat;
    color: white;
    padding-top: 18px;
    padding-left: 58px;
    padding-right: 96px;
    padding-bottom: 60px;
    float: left;
}



/* header */

.mobilcss {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  display: block;
  width: 100%;
  left:0px;
  z-index: 3;
}

.mobilcss ul {
  margin: 0;
  padding: 0;
  display: block;
  overflow: hidden;
  list-style: none;
  background-color: #fff;
}

.mobilcss li a {
  display: block;
  padding: 5px 5px;
  border-right: 1px solid #f4f4f4;
  color: black;
  text-decoration: none;
}

.mobilcss li a:hover,
.mobilcss .menu-btn:hover {
  text-color: #4a021a;
}

.mobilcss .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.mobilcss .menu {
  clear: both;
  max-height: 0;
  display: block;
  transition: max-height .2s ease-out;
}

/* menu icon */

.mobilcss .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
  height: 92px;
}

.mobilcss .menu-icon .navicon {
  background: #333;
  display: block;
  height: 3px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.mobilcss .menu-icon .navicon:before,
.mobilcss .menu-icon .navicon:after {
  background: #1f0000;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.mobilcss .menu-icon .navicon:before {
  top: 5px;
}

.mobilcss .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.mobilcss .menu-btn {
  display: none;
}

.mobilcss .menu-btn:checked ~ .menu {
  max-height: 340px;
}

.mobilcss .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.mobilcss .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.mobilcss .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.mobilcss .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.mobilcss .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .mobilcss li {
    float: left;
  }
  .mobilcss li a {
    padding: 5px 10px;
    color: black;
  }
  .mobilcss .menu {
    clear: none;
    float: right;
    display: block;
    max-height: none;
  }
  .mobilcss .menu-icon {
    display: none;
  }
}


/* section */

.section {
  overflow: hidden;
  margin: auto;
  max-width: 1400px;
}

.section a {
  position: relative;
  float: left;
  width: 100%;
}

.section a img {
  width: 100%;
  display: block;
}

.section a span {
  color: #fff;
  position: absolute;
  left: 5%;
  bottom: 5%;
  font-size: 2em;
  text-shadow: 1px 1px 0 #000;
}

.section-split a span {
  display: none;
}

.section-split a:hover span {
  display: block;
}

#menysida {
	display:none;
	}

#r3539c

{
	display: none;
}


/* 48em = 768px */

@media (min-width: 480px) {
  .section-split a {
    width: 50%;
  }
}